* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

.aboutUs {
 width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-size: 300% 300%;
  background-image: linear-gradient(45deg,#9933CC, #b20000, #9933CC, #d0b6fa);
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate{
  0%{background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.aboutUs .container {
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #9933CC;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19);

}


.aboutUs .section1 {
  width: 85%;
 height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  /* left: 10px; */
  /* background-color: #9933CC;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19); */
      /* box-shadow: 0px 5px 10px rgba(245, 243, 243, 0.2); */

}



.aboutUs .section1 .col1 {
  width: 50%;
  height: 52vh;
  background-image: url("../components/img/couple.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0px;
  border-top-left-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

/* .aboutUs .section1 .col1 .Img-1 {
  width: 75%;
  height: 300px;
  position: relative;
  top: 0px;
  border-top-left-radius: 10px;
} */

/* .aboutUs .section1 .col1 .Img-2 {
  width: 70%;
  height: 250px;
  position: absolute;
  top: 140px;
  right: -2px;
  border-top-left-radius: 10px;
} */

/* .aboutUs .section1 .col1 .Img-3 {
  width: 450px;
  height: 200px;
  margin-top: -550px;
  color: #a81590;
} */


.aboutUs .section1 .col2 {
 width: 50%;
  height: 50vh;
  background-color: white;
  border-top-right-radius: 10px;
  /* position: relative; */
  /* top: 80px; */
  /* left: 0px; */
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.aboutUs .section1 .col2 .tab1 {
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  /* background-color: #6276eb; */
  display: block;
  /* flex-direction: column;
    align-items: center;
    justify-content: center; */
  gap: 10px;
  /* padding: 20px; */
  /* border-radius: 10px; */
}

.aboutUs .section1 .col2 .tab1 h1 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  position: relative;
  top: 0px;
  /* text-align: left; */
}

.aboutUs .section1 .col2 .tab1 p {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  position: relative;
  /* top: 10px; */
  text-align: left;
}

.aboutUs .section1 .col2 .tab2 {
  width: 100%;
  height: auto;
  position: relative;
  top: 10px;
  /* background-color: #daa20b; */
  display: block;
  /* padding: 20px; */
  border-radius: 10px;
}

.aboutUs .section1 .col2 .tab2 h1 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  position: relative;
  /* top: 20px; */
}

.aboutUs .section1 .col2 .tab2 p {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  position: relative;
  /* top: 10px; */
}














@media only screen and (max-width: 1560px){
  .aboutUs {
    width: 100%;
    height: 130vh;
  }

  .aboutUs .container {
    width: 70%;
    height: 100vh;
  
  }
  
  
  .aboutUs .container .section1 {
    width: 85%;
    height: 90vh;
  }
  
  
  
  .aboutUs .section1 .col1 {
    width: 50%;
    height: 70vh;
  }
  
  
  
  .aboutUs .section1 .col2 {
    width: 50%;
    height: 70vh;
  }
  
  
}







@media only screen and (max-width: 1440px) {

  .aboutUs .section1 .col1 {
    width: 50%;
    height: 55vh;
    background-position: center;
  }
  
  .aboutUs .container .section1 {
    width: 85%;
    height: 70vh;
  }
  
  
  
  .aboutUs .section1 .col1 {
    width: 50%;
    height: 70vh;
  }
  
  
  
  .aboutUs .section1 .col2 {
    width: 50%;
    height: 70vh;
  }


  /* .aboutUs {
    width: 100%;
    height: 100vh;
  }

  .aboutUs .container {
    width: 70%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19);
  
  }
  
  
  .aboutUs .section1 {
    width: 85%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
  }

  .aboutUs .section1 .col1 {
    width: 50%;
    height: 55vh;
    background-image: url("../components/img/couple.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
  
  } */

  /* .aboutUs .section1 .col1 .Img-1 {
    width: 80%;
    height: 300px;
    position: relative;
    top: -50px;
    left: -50px;
    border-top-left-radius: 10px;
  }

  .aboutUs .section1 .col1 .Img-2 {
    width: 70%;
    height: 260px;
    position: absolute;
    top: 140px;
    left: 160px;
    border-top-left-radius: 10px;
  } */

  /* .aboutUs .section1 .col2 {
    width: 50%;
    height: 55vh;
    position: relative;
    left: 0px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  /* .aboutUs .section1 .col2 .tab1 {
    width: 100%;
    height: 230px;
    position: relative;
    display: block;
    padding: 20px;
    border-bottom: 1px solid #a81590;
  }

  .aboutUs .section1 .col2 .tab1 h1 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 0px;
  }

  .aboutUs .section1 .col2 .tab1 p {
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 10px;
    text-align: left;
  }

  .aboutUs .section1 .col2 .tab2 {
    width: 100%;
    height: 150px;
    position: relative;
    top: -20px;
    display: block;
    padding: 20px;
    border-radius: 10px;
  }

  .aboutUs .section1 .col2 .tab2 h1 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 0px;
  }

  .aboutUs .section1 .col2 .tab2 p {
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    position: relative;
    top: 10px;
  } */
}







@media only screen and (max-width: 1024px) {

  .aboutUs {
    width: 100%;
    height: 100vh;
  }

  .aboutUs .container {
    width: 80%;
    height: 80vh;
  }

  .aboutUs .container .section1{
    width: 90%;
    height: 65vh;

  }

  .aboutUs  .container .section1 .col1{
    width: 50%;
   height: 65vh;
  
  }

  .aboutUs .container .section1 .col2 {
    width: 50%;
    height: 65vh;
    gap: 10px;
  }

  .aboutUs .section1 .col2 .tab1 h1 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 0px;
  }


  .aboutUs .section1 .col2 .tab1 p {
    color: black;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 5px;
    text-align: left;
  }


  .aboutUs .section1 .col2 .tab2{
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    position: relative;
    /* top: -10px; */
  }

  .aboutUs .section1 .col2 .tab2 h1 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 0px;
  }

  .aboutUs .section1 .col2 .tab2 p {
    color: black;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    position: relative;
    top: 5px;
  }



}


@media (max-width: 768px){
  .aboutUs {
    width: 100%;
    height: 100vh;
  }


  .aboutUs .container {
   width: 90%;
   height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19);
  }

  .aboutUs .section1 {
   width: 100%;
   height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    left: 10px;
  }

  .aboutUs .section1 .col1 {
    width: 45%;
    height: 50vh;
    background-image: url("../components/img/couple.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .aboutUs .section1 .col2 {
    width: 45%;
   height: 50vh;
    position: relative;
    left: 0px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutUs .section1 .col2 .tab1 {
    /* width: 100%; */
    /* height: 300px; */
    position: relative;
    top: 0px;
    display: block;
    /* padding: 20px; */
    /* border-bottom: 1px solid #a81590; */
  }

  .aboutUs .section1 .col2 .tab1 h1 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 0px;
  }

  .aboutUs .section1 .col2 .tab1 p {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 0px;
    text-align: left;
  }

  .aboutUs .section1 .col2 .tab2 {
    /* width: 100%; */
    /* height: 150px; */
    position: relative;
    top: 0px;
    display: block;
    /* padding: 20px; */
    border-radius: 10px;
  }

  .aboutUs .section1 .col2 .tab2 h1{
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    position: relative;
    top: 0px;

  }


  .aboutUs .section1 .col2 .tab2 p {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    position: relative;
    top: 0px;
  }

}




@media (max-width: 600px){
  .aboutUs {
    width: 100%;
    height: 110vh;
  }

  .aboutUs .container {
    width: 90%;
    height: 80vh;
    padding: 0px;
  }

  .aboutUs .container .section1 {
    width: 100%;
    height: 75vh;
    gap: 10px;
    position: relative;
    left: 0px;
  }


  
  .aboutUs  .section1 .col1 {
    display: none;
  }

  .aboutUs .container .section1 .col2 {
    width: 80%;
    height: 65vh;
    /* display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    position: relative; */
    border-radius: 10px;
  }

  .aboutUs .section1 .col2 .tab1{
    width: 100%;
    height: 50vh;
    position: relative;
    /* left: -10px; */
  }


  .aboutUs .section1 .col2 .tab1 h1 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 0px;
  }
  
  .aboutUs .section1 .col2 .tab1 p {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    /* position: relative;
    top: 10px;
    text-align: left; */
  }
  

  .aboutUs .section1 .col2 .tab2 {
    width: 100%;
    position: relative;
    /* left: -10px; */
    top: -50px;
  }

  
  .aboutUs .section1 .col2 .tab2 h1 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 20px;
  }
  
  .aboutUs .section1 .col2 .tab2 p {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 20px;
  }

}






@media (max-width: 425px){

  .aboutUs {
    max-width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* background-color: #a81590; */
  }

  .aboutUs .container {
    max-width: 80%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19);
  }

  .aboutUs .container .section1 {
    max-width: 90%;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    left: 0px;
  }


  
  .aboutUs  .section1 .col1 {
    display: none;
  }

  .aboutUs .container .section1 .col2 {
    max-width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
  }

  .aboutUs .section1 .col2 .tab1{
    width: 90%;
    height: 50vh;
    position: relative;
    /* left: -10px; */
  }


  .aboutUs .section1 .col2 .tab1 h1 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 0px;
  }
  
  .aboutUs .section1 .col2 .tab1 p {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    /* position: relative;
    top: 10px;
    text-align: left; */
  }
  

  .aboutUs .section1 .col2 .tab2 {
    width: 100%;
    position: relative;
    /* left: -10px; */
    top: -20px;
  }

  
  .aboutUs .section1 .col2 .tab2 h1 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 20px;
  }
  
  .aboutUs .section1 .col2 .tab2 p {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 20px;
  }
  
 
}

@media only screen and (max-width: 375px){

  .aboutUs {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* background-color: #a81590; */
  }

  .aboutUs .container {
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19);
  }


  .aboutUs .container .section1 .col2 {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
  }

  .aboutUs .section1 .col2 .tab1 {
    width: 100%;
    height: 330px;
    position: relative;
    top: 0px;
    display: block;
    padding: 20px;
    /* border-bottom: 1px solid #a81590; */
  }

}

@media only screen and (max-width: 320px){

  .aboutUs {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* background-color: #a81590; */
  }

  .aboutUs .container {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19);
  }

  .aboutUs .container .section1 .col2 {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
  }

  .aboutUs .section1 .col2 .tab1 {
    width: 100%;
    height: 370px;
    position: relative;
    top: 0px;
    display: block;
    padding: 20px;
  }

  .aboutUs .section1 .col2 .tab2 {
    /* width: 100%;
    height: 370px; */
    position: relative;
    top: -30px;
    display: block;
    padding: 20px;
  }

}