* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

.backgroundImg {
  width: 100%;
  height: 500vh;
  /* background: rgba(233, 34, 223, 0.2); */
}

/* .homeBanner {
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
} */

/* SECTION1 CSS BEGINS */

.hBanner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-image: url("../components/img/pexels-pixabay.png"); */
  background-repeat: no-repeat;
  background-size: cover;

}

.hBanner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(5, 5, 5, 0.5);
}


.hBanner .section1 {
  width: 100%;
  height: 100vh;

  /* background-image: url("../components/img/pexels-pixabay.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  background-color: #9933CC;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.hBanner .section1 .imgCover{
  width: 50%;
  height: 730px;
  background-image: url("../components/img/da-3.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover ;
  /* background-position: center; */
  position: relative;
  /* animation: change 10s infinite ease-out; */
}

/* @keyframes change {
 20% {
    background-image: url(../components/img/da-1.png);
  }
  20% {
    background-image: url(../components/img/da-3.png);
  }
  40% {
    background-image: url(../components/img/da-4.png);
  }
  0% {
    background-image: url(../components/img/da-2.png);
  }
  
} */
  


.hBanner .section1 .coverTxt {
  width: 50%;
  height: 50px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  left: -50px;
  top: 50px;
}

.txtCover{
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: 50px;
  left: -50px;
}


.hBanner .section1 .txtCover img{
  width: 50%;
  height: 200px;
}


.hBanner .section1 .txtCover h1 {
  color: black;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size:30px;
  position: relative;
  top: 10px;
  background-color: #d0b6fa;
  border-radius: 10px;
  padding: 10px;
}

.hBanner .section1 .txt1 {
  width: 80%;
  height: auto;
  position: relative;
  top: 00px;
  left: 50px;
}

.hBanner .section1 p {
  bottom: 0;

  text-align: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: white;
}



.hBanner .section2 {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: relative;
}

.hBanner .section2 .col1 {
  width: 45%;
  height: 500px;
  position: relative;
  top: 80px;
  left: 0px;
}

.hBanner .section2 .col1 .Img-1 {
  width: 70%;
  height: 450px;
  position: relative;
  top: 0px;
}

.hBanner .section2 .col1 .Img-2 {
  width: 60%;
  height: 300px;
  position: absolute;
  top: 200px;
  right: 65px;
}

.hBanner .section2 .col1 .Img-3 {
  width: 500px;
  height: 450px;
  margin-top: -408px;
  color: #a81590;
}

.hBanner .section2 .col1 .Img-4 {
  width: 20px;
  height: 200px;
  position: absolute;
  top: 0px;
  right: 80px;
}

.hBanner .section2 .col1 .Img-5 {
  width: 50px;
  height: 20px;
  position: relative;
  right: 420px;
  bottom: 10px;
}


.hBanner .section2 .col2 {
  width: 40%;
  height: 500px;
  position: relative;
  top: 80px;
  left: 0px;
  gap: 10px;
  display: flex;
}

.hBanner .section2 .col2 .tab1 {
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.hBanner .section2 .col2 .tab1 h1 {
  color: black;
  font-size: 30px;
  font-weight: 700;
  /* text-align: left; */
  position: relative;
  top: 0px;
}

.hBanner .section2 .col2 .tab1 p {
  color: #a81590;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 0px;
}












@media only screen and (max-width: 1560px){
  .hBanner {
    width: 100%;
    height: 130vh;
  
  }

  .hBanner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 130vh;
    background: rgba(5, 5, 5, 0.5);
  }
  
  
  .hBanner .section1 {
    width: 100%;
    height: 130vh;
  
  }

  .hBanner .section1 .imgCover{
    width: 40%;
    height: 600px;
    background-size: contain;
    position: relative;
    top: 70px;
  }
  
  
}







@media only screen and (max-width: 1440px){
  .hBanner .section1 .coverTxt {
    width: 30%;
    height: 100px;
  }
  
  
  .hBanner .section1 .coverTxt h1 {
    color: white;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
  
}





@media only screen and (max-width: 1024px) {

  .hBanner {
    width: 100%;
    height: 110vh;
  
  }

  .hBanner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 110vh;
    background: rgba(5, 5, 5, 0.5);
  }

  .hBanner .section1 .imgCover{
    position: relative;
    top: 100px;
  }


  .hBanner .section1 .txtCover h1 {
    color:black;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {

  .hBanner {
    width: 100%;
    height: 90vh;
  
  }
  
  .hBanner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 90vh;
    background: #9933CC;
  }
  
  
  .hBanner .section1 {
    width: 100%;
    height: 90vh;
    /* background-color: #555658; */
  }

  .hBanner .section1 .imgCover{
    width: 40%;
    height: 400px;
    position: relative;
    top: 70px;
    background-position: center;
  }


  
  


  .hBanner .section1 .txtCover h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 425px) {

  .hBanner .section1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    /* left: 50px; */
  
  }

  .hBanner .section1 .imgCover{
    display: none;
  }

  .hBanner .section1 .txtCover{
    width: 100%;
    position: relative;
    left: 0px;
  }
  


  .hBanner .section1 .txtCover h1 {
    color: white;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    font-size: 11px;
    position: relative;
    top: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .hBanner .section1 .coverTxt {
    width: 80%;
    height: 80px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    left: 0px;
    /* border: 2px solid white;
    border-radius: 10px; */
  }

  /* .hBanner .section1 .coverTxt::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
  } */

  .hBanner .section1 .coverTxt h1 {
    color: white;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
}
