* {
    padding: 0;
    margin: 0;
    box-sizing: none;
  }
  
  .profile {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    /* justify-content: sp; */
    /* padding: 20px; */
    background-color: #d0b6fa;
    /* border-radius: 10px; */
  }
  
  .profile .container {
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    /* left: 10px; */
    background-color: #9933CC;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
  }
  
  
  .profile .container .section0 {
    width: 85%;
    height: auto;
    background-color: white;
    position: relative;
    top: 80px;
    padding: 10px;
    border-radius: 10px;
    /* bottom: -40px; */
    top: -10px;
    left: 0px;
  }
  
  .profile .container .section0 h1 {
    color: black;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    position: relative;
    left: 10px;
  }
  
  .profile .section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 40vh;
    position: relative;
    top: -10px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
  }
  
  .profile .section1 .col1 {
    width: 70%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    /* background-color: aqua; */
    /* justify-content: space-between; */
    /* position: relative; */
    gap: 16px;
  }
  .profile .section1 .col1 .txt1 h1 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
  }
  
  .profile .section1 .col1 .txt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    top: 10px;
    gap: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;

  }
  
  .profile .section1 .col1 .txt2 p {
    color: #333;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
  }
  
  
  .profile .section1 .col2{
      width: 30%;
      height: 40vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      /* padding: 10px; */
      /* border-radius: 10px; */
      border: none;
      background-color: #d0b6fa;
      gap: 16px;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  
  .profile .section1 .col2 img {
    width: 100%;
    height: 40vh;
    /* object-fit: cover; */
    border-radius: 10px;
    /* border: 1px solid #a81590; */
  }












  @media only screen and (max-width: 1560px) {
    
    .profile {
      width: 100%;
      height: 130vh;
    }
    
    .profile .container {
      width: 70%;
      height: 100vh;
    }
    .profile .section1 {
      width: 85%;
      height: 60vh;
      /* background-color: #949394; */
    }
    .profile .section1 .col1 {
      width: 70%;
      height: 60vh;
     
      /* background-color: white; */
    }

    .profile .section1 .col2 {
      width: 30%;
      height: 60vh;
      background-color: #d0b6fa;
    }
  }










  
  @media only screen and (max-width: 1440px) {

    .profile {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #d0b6fa;
    }
    
    .profile .container {
      width: 70%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      position: relative;
      background-color: #9933CC;
      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    
    }
  
    .profile .section0 {
      width: 20%;
      height: auto;
      position: relative;
      top: 40px;
      left: -310px;
    }
  
    .profile .section0 h1 {
      color: black;
      font-size: 30px;
      font-weight: 700;
      text-align: left;
    }
  
    .profile .section1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 85%;
      height: 60vh;
      position: relative;
      top: -10px;
      gap: 10px;
    }
  
    .profile .container .section1 .col1 {
      width: 70%;
      height: 60vh;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 10px;
      /* overflow-y: hidden; */
      /* background-color: white; */
      /* background-color: aqua; */
      /* justify-content: space-between; */
      /* position: relative; */
      gap: 16px;
    }

      /* .profile .section1 .col1 .txt1 h1 {
      font-size: 20px;
      color: #333;
      font-weight: 700;
    }
  
    .profile .section1 .col1 .txt1 p {
      color: #949394;
      font-size: 15px;
      font-weight: 400;
      text-align: left;
    } */

    .profile .container .section1 .col1 .txt2{

      height: 55vh;
      padding-top: 0px !important; 
      padding-bottom: 0px !important;
      overflow-y:scroll ;
  
    }

    .profile .section1 .col1 .txt2 p {
      color: #333;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
    }
  
  
  
  
    /* .profile .section1 .col1 .txt2 p {
      color: #949394;
      font-size: 15px;
      font-weight: 400;
      text-align: left;
    } */
  
  
  
    .profile .section1 .col2 {
      width: 40%;
      height: 50vh;
      display: flex;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      /* border-radius: 10px; */
    }
  
    .profile .section1 .col2 img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      border-radius: 10px;
      background-color: #f5f5f5;
    }
  }







  
  @media only screen and (max-width: 1024px) {

    .profile {
      width: 100%;
      height: 110vh;
    }


    .profile .container {
      width: 80%;
      height: 80vh;
      gap: 10px;
    
    }

    .profile .container .section0 {
      width: 90%;
      height: auto;
      position: relative;
      /* top: 40px; */
    }


    .profile .section1 {
      width: 90%;
      height: 50vh;
      position: relative;
      top: 0px;
      gap: 10px;
      padding: 0;
    }

    .profile .container .section1 .col1 {
      width: 80%;
      height: 45vh;
      padding: 10px;
      gap: 16px;
    }

    .profile .section1 .col1 .txt2{
      width: 100%;
      height: 50vh;
      position: relative;
      top: -10px;
      gap: 10px;
      border-left: 1px solid black;
      border-right: 1px solid black;
  
    }

    /* .profile .section1 .name{
      width: 10%;
      background-color: #928686;
    } */
    .profile .section1 .name h1 {
      color: black;
      font-size: 15px;
      font-weight: 700;
      /* text-align: center; */
    }

    .profile .section1 .col2 {
      width: 40%;
      height: 50vh;
      /* border-radius: 10px; */
    }
  
    .profile .section1 .col2 img {
      width: 110%;
      height: 40vh;
    }


  }
  
  @media only screen and (max-width: 768px) {

    .profile {
      width: 100%;
      height: 110vh;
    }


    .profile .container {
      width: 90%;
      height: 80vh;
      gap: 10px;
      position: relative;
    
    }

    .profile .container .section0 {
      width: 90%;
      height: auto;
      position: relative;
      top: 0px;
    }
  
    .profile .container .section0 h1 {
      color: black;
      font-size: 18px;
      font-weight: 700;
      text-align: left;
    }
  
    .profile .container .section1 {
      width: 90%;
      height: 50vh;
      position: relative;
      top: 0px;
      gap: 20px;
    }
  
    .profile .section1 .col1 {
      width: 45%;
      height: 45vh;
      padding: 11px;
      gap: 15px;
    }
  
    .profile .section1 .col1 .txt1 h1 {
      font-size: 15px;
      color: #333;
      font-weight: 700;
    }
  
    .profile .section1 .col1 .txt1 p {
      color: #949394;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
    }
  
    .profile .section1 .col1 .txt2 h1 {
      font-size: 15px;
      color: #333;
      font-weight: 700;
    }
  
    .profile .section1 .col1 .txt2 p {
      color: #949394;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
    }
  
    .profile .section1 .col1 .txt3 h1 {
      font-size: 15px;
      color: #333;
      font-weight: 700;
    }
  
    .profile .section1 .col1 .txt3 p {
      color: #949394;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
    }
  
    .profile .section1 .col1 .txt4 h1 {
      font-size: 15px;
      color: #333;
      font-weight: 700;
    }
  
    .profile .section1 .col1 .txt4 p {
      color: #949394;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
    }
  
    .profile .section1 .col1 .txt5 h1 {
      font-size: 15px;
      color: #333;
      font-weight: 700;
    }
  
    .profile .section1 .col1 .txt5 p {
      color: #949394;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
    }
  
    .profile .section1 .col2 {
      width: 45%;
      height: 50vh;
      display: flex;
    }
  
    .profile .section1 .col2 img {
      width: 100%;
      height: 30vh;
      object-fit: cover;
      border-radius: 10px;
      background-color: #f5f5f5;
    }
  }







  
  @media only screen and (max-width: 425px) {
    .profile {
      width: 100%;
      height: 130vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("../components/img/couples-3.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 10px;
      border-radius: 0px;
    }
  
    .profile:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 130vh;
      /* position: relative; */
      background: rgba(87, 45, 95, 0.884);
    }

    .profile .container {
      width: 80%;
      height: 120vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px;
      position: relative;
      background-color: #9933CC;
      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    
    }


  
    .profile .container .section0 {
      width: 90%;
      height: auto;
      border-radius: 0px;
      position: relative;
      top: 0px;
      /* left: -150px; */
    }
    .profile .section0 h1 {
      font-size: 20px;
      color: whitesmoke;
      font-weight: 500;
      text-align: left;
      position: relative;
      /* top: -60px; */
    }
  
    .profile .container .section1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 100vh;
      position: relative;
      top: 10px;
      gap: 50px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      /* background-color: transparent; */
    }
  
    .profile .container .section1 .col1 {
      width: 100%;
      height: 40vh;
      display: flex;
      flex-direction: column;
      padding: 0px;
      border-radius: 0px;
      /* border: 1px solid #a81590; */
      background-color: transparent;
      /* background-color: aqua; */
      gap: 15px;
    }
  

    .profile .container .section1 .col1 .txt2{
      width: 100%;
      border: none;
      /* background-color: #949394; */
      position: relative;
      top: 40px;
    }
  
    .profile .section1 .col1 .txt2 p {
      color: #333;
      font-size: 12px;
      font-weight: 300;
      text-align: left;
    }

    .profile .container .section1 .name{
      font-size: 20px;
      font-weight: 500;
      text-align: left;
      position: relative;
      top: 295px;
      /* left: -150px; */
    }

    .profile .container .section1 .col2 {
      width: 100%;
      height: 50vh;
      display: flex;
      position: relative;
      top: -30px;
      background-color: transparent;
    }
  
    .profile .section1 .col2 img {
      width: 100%;
      height: 40vh;
      object-fit: cover;
      border-radius: 10px;
      /* background-color: #f5f5f5; */
    }

  
  
    .profile .section1 .col2 {
      /* width: 100%;
        height: 45vh;
        border-radius: 10px;
        position: relative;
        top: 20px; */
      border-radius: 0px;
  
      /* display: none; */
    }
  }
  
  @media only screen and (max-width: 375px) {
    .profile .section0 {
      width: 25%;
      height: auto;
      position: relative;
      top: 50px;
      left: -120px;
    }
    .profile .section0 h1 {
      font-size: 20px;
      color: whitesmoke;
      font-weight: 500;
      text-align: left;
      position: relative;
      /* top: -60px; */
    }

    .profile .container .section1 .name{
      font-size: 20px;
      font-weight: 500;
      text-align: left;
      position: relative;
      top: 300px;
      /* left: -150px; */
    }

    .profile .container .section1 .col2 {
      width: 100%;
      height: 50vh;
      display: flex;
      position: relative;
      top: -20px;
      background-color: transparent;
    }

  }
  
  @media only screen and (max-width: 320px) {

    .profile {
      width: 100%;
      height: 130vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url("../components/img/couples-3.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 10px;
      border-radius: 0px;
    }
  
    .profile:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 130vh;
      /* position: relative; */
      background: rgba(87, 45, 95, 0.884);
    }

    .profile .container {
      width: 80%;
      height: 120vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 10px;
      position: relative;
      background-color: #9933CC;
      border-radius: 10px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    
    }

    .profile .section0 {
      width: 25%;
      height: auto;
      position: relative;
      top: 50px;
      left: -100px;
    }
    .profile .section0 h1 {
      font-size: 20px;
      color: whitesmoke;
      font-weight: 500;
      text-align: left;
      position: relative;
      /* top: -60px; */
    }

    .profile .container .section1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 100vh;
      position: relative;
      top: 10px;
      gap: 50px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      /* background-color: transparent; */
    }

    .profile .container .section1 .name{
      font-size: 20px;
      font-weight: 500;
      text-align: left;
      position: relative;
      top: 275px;
      /* left: -150px; */
    }

    .profile .container .section1 .col2 {
      width: 100%;
      height: 50vh;
      display: flex;
      position: relative;
      top: -0px;
      background-color: transparent;
    }
  
    .profile .section1 .col2 img {
      width: 100%;
      height: 30vh;
      object-fit: cover;
      border-radius: 10px;
      /* background-color: #f5f5f5; */
    }


  }
  