* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

.program {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-size: 300% 300%;
  background-image: linear-gradient(45deg, #9933cc, #b20000, #9933cc, #d0b6fa);
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.program .container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #9933cc;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2),
    0 6px 20px 0 rgba(243, 242, 242, 0.19);
}

.program .section1 {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  /* left: 10px; */
  /* background-color: #9933CC;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19); */
  /* box-shadow: 0px 5px 10px rgba(245, 243, 243, 0.2); */
}

.program .section1 .row1 {
  width: 64%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
}

.program .section1 .row1 h1 {
  font-size: 30px;
  /* color: white; */
  font-weight: bold;
}

.program .section1 .row2 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: #f7f2f9; */
  /* background-color: #9933CC;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19); */
}

.program .section1 .row2 .col1 {
  width: 80%;
  height: 80vh;
  /* background-color: #333; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.program .section1 .row2 .col1 img {
  width: 80%;
  height: 100%;
}

@media only screen and (max-width: 1560px) {
  .program {
    width: 100%;
    height: 130vh;
  }

  .program .container {
    width: 70%;
    height: 100vh;
  }

  .program .container .section1 {
    width: 85%;
    height: 90vh;
  }

  .program .section1 .col1 {
    width: 50%;
    height: 70vh;
  }

  .program .section1 .col2 {
    width: 50%;
    height: 70vh;
  }
}

@media only screen and (max-width: 1440px) {
  .program {
    width: 100%;
    height: 160vh;
  }

  .program .container {
    width: 70%;
    height: 140vh;
  }

  .program .container .section1 {
    width: 85%;
    height: 130vh;
    /* background-color: #e6ddea; */
  }

  .program .section1 .row1 {
    width: 65%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    position: relative;
    top: -50px;
  }

  .program .container .section1 .row2 .col1 {
    width: 65%;
    height: 100vh;
    background-position: center;
    /* background-color: #333; */
  }

  .program .section1 .row2 .col1 img {
    width: 100%;
    height: 100%;
  }

  /* .program .section1 .col1 {
      width: 50%;
      height: 70vh;
    } */

  /* .program .section1 .col2 {
      width: 50%;
      height: 70vh;
    }
   */
}

@media only screen and (max-width: 1024px) {
  .program {
    width: 100%;
    height: 140vh;
  }

  .program .container {
    width: 80%;
    height: 120vh;
  }

  .program .container .section1 {
    width: 90%;
    height: 80vh;
  }

  .program .section1 .row1 {
    width: 65%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    position: relative;
    top: 0px;
  }

  .program .container .section1 .row2 .col1 {
    width: 65%;
    height: 80vh;
    background-position: center;
    /* background-color: #333; */
  }

  .program .section1 .row2 .col1 img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .program {
    width: 100%;
    height: 140vh;
  }

  .program .container {
    width: 90%;
    height: 120vh;
  }

  .program .container .section1 {
    width: 90%;
    height: 80vh;
  }

  .program .section1 .row1 {
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    position: relative;
    top: 0px;
  }

  .program .container .section1 .row2 .col1 {
    width: 80%;
    height: 80vh;
    background-position: center;
    /* background-color: #333; */
  }

  .program .section1 .row2 .col1 img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .program {
    width: 100%;
    height: 140vh;
  }

  .program .container {
    width: 90%;
    height: 120vh;
  }

  .program .container .section1 {
    width: 90%;
    height: 80vh;
  }

  .program .section1 .row1 {
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    position: relative;
    top: 0px;
  }

  .program .container .section1 .row2 .col1 {
    width: 80%;
    height: 80vh;
    background-position: center;
    /* background-color: #333; */
  }

  .program .section1 .row2 .col1 img {
    width: 100%;
    height: 100%;
  }
}





@media (max-width: 425px) {
  .program {
    width: 100%;
    height: 80vh;
  }

  .program .container {
    width: 75%;
    height: 70vh;
  }

  .program .container .section1 {
    width: 90%;
    height: 50vh;
  }

  .program .section1 .row1 {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    background-color: white;
    position: relative;
    top: 0px;
    padding: 10px;
  }

  .program .section1 .row1 h1 {
    font-size: 25px;
  }


  .program .container .section1 .row2 .col1 {
    width: 100%;
    height: 50vh;
    background-position: center;
    background-color: #333;
  }

  .program .section1 .row2 .col1 img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .program {
    max-width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    /* background-color: #a81590; */
  }

  .program .container {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2),
      0 6px 20px 0 rgba(243, 242, 242, 0.19);
  }

  .program .container .section1 .col2 {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
  }

  .program .section1 .col2 .tab1 {
    width: 100%;
    height: 330px;
    position: relative;
    top: -30px;
    display: block;
    padding: 20px;
    /* border-bottom: 1px solid #a81590; */
  }

  .program .section1 .col2 .tab2 {
    position: relative;
    top: 0px;
    /* border-bottom: 1px solid #a81590; */
  }

  .program .section1 .row1 h1 {
    font-size: 20px;
  }

}

@media only screen and (max-width: 320px) {

  .program .section1 .row1 h1 {
    font-size: 20px;
  }
  
}
