* {
    padding: 0;
    margin: 0;
    box-sizing: none;
  }

  .resources {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    /* top: -10px; */
    gap: 10px;
    background-size: 300% 300%;
    background-image: linear-gradient(45deg,#9933CC, #b20000, #9933CC, #d0b6fa);
    animation: animate 10s ease-in-out infinite;
  }
  
  @keyframes animate{
    0%{background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  

  .resources .section0{
    width: 85%;
    height: auto;
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-color: white;
    position: relative;
    top: 20px;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19); */

  }

  .resources .section0 h1{
    font-size: 25px;
    color: black;
    text-align: center;
  }

  .resources .section1 {
    /* width: 80%;
    height: 50vh; */
    display: flex;


    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70vh;
    background-color: #9933CC;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 243, 243, 0.2), 0 6px 20px 0 rgba(243, 242, 242, 0.19);

  }

  .resources .section1 .col1{
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
  }

  .resources .section1 .col1 .grid1{
    width: 30%;
  }


  .resources .section1 .col1 .grid1 p{
    font-size: 15px;
    color: rgb(218, 209, 209);
    text-align: center;
    background-color: #9933CC;
    position: absolute;
    top: 10%;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
  }

  .resources .section1 .col1 .grid1 button{
    width: 30%;
    padding: 10px;
    background-color: #d0b6fa;
    color: #333;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 20px;
  }
  
  .resources .section1 .col1 .grid1 button:hover{
    background-color: #5f0650;
    font-weight: bold;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    transform: scale(1.05);
    color: white;
  }


  .resources .section1 .col1 .grid2{
    width: 30%;
    /* height: auto; */


  }

  .resources .section1 .col1 .grid2 p{
    font-size: 15px;
    color: rgb(218, 209, 209);
    text-align: center;
    background-color: #9933CC;
    position: absolute;
    top: 10%;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
  }

  .resources .section1 .col1 .grid2 button{
    width: 30%;
    padding: 10px;
    background-color: #d0b6fa;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 20px;
  }

  .resources .section1 .col1 .grid2 button:hover{
    background-color: #5f0650;
    font-weight: bold;
    transition: transform 0.3s ease;
    transform: scale(1.05);
    color: white;

  }

  .resources .section1 .col1 .grid3{
    width: 30%;
  }

  .resources .section1 .col1 .grid3 p{
    font-size: 15px;
    color: rgb(218, 209, 209);
    text-align: center;
    background-color: #9933CC;
    position: absolute;
    top: 10%;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
  }

  .resources .section1 .col1 .grid3 button{
    width: 30%;
    padding: 10px;
    background-color: #d0b6fa;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 20px;
  }
  
  .resources .section1 .col1 .grid3 button:hover{
    background-color: #5f0650;
    font-weight: bold;
    transition: transform 0.3s ease;
    transform: scale(1.05);
    color: white;
  }


  .resources .section1 .col1 .Img-1{
    width: 100%;
    height: 45vh;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

  }

  .resources .section1 .col1 .Img-1:hover{
    background-color: #997393;
    font-weight: bold;
    transition: transform 0.3s ease;
    transform: scale(1.05);

  }














  @media only screen and (max-width: 1560px){
    .resources {
      width: 100%;
      height: 130vh;
    }
    
    .resources .section1 {
        width: 70%;
        height: 100vh;
    }

    .resources .section1 .col1{
      width: 90%;
      height: 60vh;
    }

  }






  @media only screen and (max-width: 1440px){

    .resources {
      width: 100%;
      height: 110vh;
    }
  
    .resources .section1 {  
      width: 70%;
      height: 80vh;
    }

    .resources .section1 .col1{
      width: 90%;
      height: 60vh;
    }
  
  }

  @media only screen and (max-width: 1024px){
    .resources .section1 {  
      width: 80%;
      height: 80vh;
      /* border-bottom: 1px solid #9933CC; */
      gap: 10px;
    }
    .resources .section0 {
      width: 90%;
      height: auto;
      position: relative;
      padding: 10px;
      /* top: 20px; */
      /* left: 310px; */
    }
  

    .resources .section1 .col1{
      width: 95%;
      height: 60vh;
      position: relative;
      gap: 20px;
    }

    
    /* .resources .section1 {
      width: 80%;
      height: 70vh;
      display: flex;  
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #9933CC;
      gap: 10px;
    } */
  

    .resources .section1 .col1 .grid1 button{
      width: 40%;
      padding: 10px;
      background-color: #d0b6fa;
      color: #333;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      font-size: 12px;
      position: relative;
      top: 20px;
    }

    .resources .section1 .col1 .grid2 button{
      width: 40%;
      padding: 10px;
      background-color: #d0b6fa;
      color: #333;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      font-size: 12px;
      position: relative;
      top: 20px;
    }

    .resources .section1 .col1 .grid3 button{
      width: 40%;
      padding: 10px;
      background-color: #d0b6fa;
      color: #333;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-weight: bold;
      font-size: 12px;
      position: relative;
      top: 20px;
    }
  
  
  
  }

  @media only screen and (max-width: 768px){

    .resources {
      width: 100%;
      height: 110vh;
      /* background-color: #d0b6fa; */
      position: relative;
      /* top: -10px; */
      gap: 10px;
    }

    .resources .section0{
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 30px;
    }
  
    .resources .section0 h1{
      font-size: 20px;
      color: black;
      text-align: center;
    }
  
    .resources .section1 {
      width: 90%;
      height: 80vh;
      display: flex;
      padding: 10px;
  }

  .resources .section1 .col1{
    width: 93%;
    height: 60vh;
    /* background-color: aliceblue; */
    border-radius: 10px;

  }

  .resources .section1 .col1 .Img-1{
    width: 100%;
    height: 35vh;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

  }



  .resources .section1 .col1 .grid1{
    position: relative;
    border-radius: 10px;
  }

  .resources .section1 .col1 .grid1 p{
    font-size: 15px;
    color: black;
    text-align: center;
    background-color: #d0b6fa;
    position: absolute;
    top: 10px;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 300;
  }

  .resources .section1 .col1 .grid2 p{
    font-size: 15px;
    color: black;
    text-align: center;
    background-color: #d0b6fa;
    position: absolute;
    top: 65px;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 300;
  }

  .resources .section1 .col1 .grid3 p{
    font-size: 15px;
    color: black;
    text-align: center;
    background-color: #d0b6fa;
    position: absolute;
    top: 65px;
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 300;
  }

  .resources .section1 .col1 .grid1 button{
    width: 50%;
    padding: 10px;
    background-color: #9933CC;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 20px;
  }


  .resources .section1 .col1 .grid2 button{
    width: 50%;
    padding: 10px;
    background-color: #9933CC;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 20px;
  }

  .resources .section1 .col1 .grid3 button{
    width: 50%;
    padding: 10px;
    background-color: #9933CC;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 20px;
  }

}






@media only screen and (max-width: 425px){

  .resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 230vh;
  }

  .resources .section0{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40px;
    left: 0px;
  }


  .resources .section1 {
    width: 75%;
    height: 220vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    /* left: 0px; */
    /* right: 0px; */

}

.resources .section1 .col1{
  width: 100%;
  height: 180vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -30px;
  gap: 20px;
  padding: 10px;
}

.resources .section1 .col1 .grid1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.resources .section1 .col1 .grid1 p{
  font-size: 15px;
  color: rgb(218, 209, 209);
  text-align: center;
  background-color: #d0b6fa;
  position: absolute;
  top: 20px;
  left: 0px;
  padding: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
}

.resources .section1 .col1 .grid1 button{
  width: 250%;
  padding: 10px;
  background-color: #d0b6fa;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  position: relative;
  top: 20px;
  right: 50px;
}

.resources .section1 .col1 .grid1 button:hover{
  background-color: #5f0650;
  font-weight: bold;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}


.resources .section1 .col1 .grid2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
  /* height: auto; */


}

.resources .section1 .col1 .grid2 p{
  font-size: 15px;
  color: rgb(218, 209, 209);
  text-align: center;
  background-color: #9933CC;
  position: absolute;
  top: 300px;
  padding: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 0px;
}

.resources .section1 .col1 .grid2 button{
  width: 200%;
  padding: 10px;
  background-color: #d0b6fa;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 20px;
  right: 50px;
}

.resources .section1 .col1 .grid2 button:hover{
  background-color: #5f0650;
  font-weight: bold;
  transition: transform 0.3s ease;
  transform: scale(1.05);

}

.resources .section1 .col1 .grid3{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;

}

.resources .section1 .col1 .grid3 p{
  font-size: 15px;
  color: rgb(218, 209, 209);
  text-align: center;
  background-color: #9933CC;
  position: absolute;
  top: 300px;
  padding: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 0px;
}

.resources .section1 .col1 .grid3 button{
  width: 200%;
  padding: 10px;
  background-color: #d0b6fa;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 20px;
  right: 50px;

}

.resources .section1 .col1 .grid3 button:hover{
  background-color: #5f0650;
  font-weight: bold;
  transition: transform 0.3s ease;
  transform: scale(1.05);

}

.resources .section1 .col1 .Img-1{
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

}





}