* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

.whyChooseUs {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: #db1c92; */
  /* border-bottom: 1px solid #a81590; */
}

.whyChooseUs .section1 {
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #b3a0e5;
  gap: 20px;
  border-radius: 10px;
}

.whyChooseUs .col1 {
  width: 40%;
  height: 40vh;
  object-fit: cover;
  border-radius: 10px;
  /* border: 1px solid #a81590; */
  background-color: #c93131;
}

.whyChooseUs .col1 img {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
}

.whyChooseUs .col2 {
  width: 50%;
  height: 40vh;
  object-fit: cover;
  border-radius: 10px;
  /* border: 1px solid #a81590; */
  /* background-color: #23965c; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

/* .whyChooseUs .section1 .col2::after{
    content: '';
    width: 30%;
    height: 40vh;
    position: absolute;
    background: rgba(255,255,255,.2);
    } */

.whyChooseUs .section1 .col2 .txtHd {
  height: 50px;
  position: relative;
  border-bottom: 1px solid whitesmoke;
  /* top: 10%; */
}

.whyChooseUs .section1 .col2 .txtHd h1 {
  font-size: 30px;
  color: black;
  font-weight: 700;
}

.whyChooseUs .section1 .col2 .txtHd1 {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  gap: 10px;
  border-bottom: 1px solid whitesmoke;
}

.whyChooseUs .section1 .col2 .txtHd1 .txt1 h1 {
  font-size: 15px;
  color: #333;
  font-weight: 400;
}

.whyChooseUs .section1 .col2 .txtHd1 .txt1 p {
  color: whitesmoke;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.whyChooseUs .section1 .col2 .txt2 h1 {
  font-size: 15px;
  color: #333;
  font-weight: 400;
}

.whyChooseUs .section1 .col2 .txt2 p {
  color: whitesmoke;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.whyChooseUs .section1 .col2 .txtHd1 .txt3 h1 {
  font-size: 15px;
  color: #333;
  font-weight: 400;
}

.whyChooseUs .section1 .col2 .txt3 p {
  color: whitesmoke;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.whyChooseUs .section1 .col2 .txt4 h1 {
  font-size: 15px;
  color: #333;
  font-weight: 400;
}

.whyChooseUs .section1 .col2 .txt4 p {
  color: whitesmoke;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

@media only screen and (max-width: 1440px) {
  .whyChooseUs .section1 {
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #b3a0e5;
    gap: 10px;
    border-radius: 10px;
  }

  .whyChooseUs .col1 {
    width: 45%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    background-color: #c93131;
  }

  .whyChooseUs .col1 img {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
  }

  .whyChooseUs .col2 {
    width: 45%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .whyChooseUs .section1 .col2 .txtHd1 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;
    gap: 12px;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
  }

  .whyChooseUs .section1 .col2 .txtHd1 .txt1 h1 {
    font-size: 15px;
    color: black;
    font-weight: 700;
  }

  .whyChooseUs .section1 .col2 .txtHd1 .txt1 p {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 3px;
  }

  .whyChooseUs .section1 .col2 .txt2 h1 {
    font-size: 15px;
    color: black;
    font-weight: 700;
  }

  .whyChooseUs .section1 .col2 .txt2 p {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 3px;
  }

  .whyChooseUs .section1 .col2 .txtHd1 .txt3 h1 {
    font-size: 15px;
    color: black;
    font-weight: 700;
  }

  .whyChooseUs .section1 .col2 .txt3 p {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 3px;
  }

  .whyChooseUs .section1 .col2 .txt4 h1 {
    font-size: 15px;
    color: black;
    font-weight: 700;
  }

  .whyChooseUs .section1 .col2 .txt4 p {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 3px;
  }
}

@media only screen and (max-width: 1024px) {
  .whyChooseUs .section1 {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #b3a0e5;
    gap: 10px;
    border-radius: 10px;
  }

  .whyChooseUs .col1 {
    width: 45%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
  }

  .whyChooseUs .col1 img {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
  }

  .whyChooseUs .col2 {
    width: 50%;
    height: 55vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .whyChooseUs .section1 .col2 .txtHd h1 {
    font-size: 25px;
    color: black;
    font-weight: 700;
    position: relative;
    top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .whyChooseUs .section1 {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #b3a0e5;
    gap: 5px;
    padding: 5px;
    border-radius: 0px;
  }

  .whyChooseUs .col1 {
    width: 48%;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
  }

  .whyChooseUs .col1 img {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
  }

  .whyChooseUs .col2 {
    width: 48%;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .whyChooseUs .section1 .col2 .txtHd h1 {
    font-size: 20px;
    color: black;
    font-weight: 700;
    position: relative;
    top: -5px;
  }

  .whyChooseUs .section1 .col2 .txtHd1 .txt1 h1 {
    font-size: 13px;
    color: black;
    font-weight: 700;
  }

  .whyChooseUs .section1 .col2 .txtHd1 .txt1 p {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 3px;
  }

  .whyChooseUs .section1 .col2 .txt2 h1 {
    font-size: 13px;
    color: black;
    font-weight: 700;
  }

  .whyChooseUs .section1 .col2 .txt2 p {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 3px;
  }

  .whyChooseUs .section1 .col2 .txtHd1 .txt3 h1 {
    font-size: 13px;
    color: black;
    font-weight: 700;
  }

  .whyChooseUs .section1 .col2 .txt3 p {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 3px;
  }

  .whyChooseUs .section1 .col2 .txt4 h1 {
    font-size: 13px;
    color: black;
    font-weight: 700;
  }

  .whyChooseUs .section1 .col2 .txt4 p {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    position: relative;
    top: 3px;
  }
}

@media only screen and (max-width: 425px) {
  .whyChooseUs .section1 {
    width: 100%;
    height: 70vh;
    background-image: url("../components/img/counsel-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    /* background-color: #b3a0e5; */
    gap: 5px;
    padding: 5px;
    border-radius: 0px;
  }

  .whyChooseUs .section1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70vh;
    /* position: relative; */
    background: rgba(0, 0, 0, 0.884);
  }

  .whyChooseUs .section1 .col1 {
    display: none;
  }

  .whyChooseUs .col2 {
    width: 100%;
    height: 55vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .whyChooseUs .section1 .col2 .txtHd {
    position: relative;
    top: -20px;
  }

  .whyChooseUs .section1 .col2 .txtHd h1 {
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
    position: relative;
    top: 10px;
  }

  .whyChooseUs .section1 .col2 .txtHd1 .txt1 h1 {
    font-size: 13px;
    color: whitesmoke;
    font-weight: 500;
  }

  .whyChooseUs .section1 .col2 .txtHd1 .txt1 p {
    color: wheat;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    position: relative;
    top: 3px;
  }

  .whyChooseUs .section1 .col2 .txt2 h1 {
    font-size: 13px;
    color: whitesmoke;
    font-weight: 500;
  }

  .whyChooseUs .section1 .col2 .txt2 p {
    color: wheat;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    position: relative;
    top: 3px;
  }

  .whyChooseUs .section1 .col2 .txtHd1 .txt3 h1 {
    font-size: 13px;
    color: whitesmoke;
    font-weight: 500;
  }

  .whyChooseUs .section1 .col2 .txt3 p {
    color: wheat;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    position: relative;
    top: 3px;
  }

  .whyChooseUs .section1 .col2 .txt4 h1 {
    font-size: 13px;
    color: whitesmoke;
    font-weight: 500;
  }

  .whyChooseUs .section1 .col2 .txt4 p {
    color: wheat;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    position: relative;
    top: 3px;
  }
}

@media only screen and (max-width: 320px) {
  .whyChooseUs .section1 .col2 .txtHd {
    position: relative;
    top: 0px;
  }

  .whyChooseUs .section1 .col2 .txtHd h1 {
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
    position: relative;
    top: -10px;
  }
}
